.serial-sidebar {
  margin-top: 30px;
  color: #fff;
}

.serial-sidebar span {
  font-size: large;
}

.serial-sidebar ul li {
  list-style-type: none;
  margin: 15px 0;
  cursor: pointer;
  color: #cdcdcd;
}
