@import './WatchBlock/watchBlock.css';
@import './Anatomy/anatomy.css';
@import './SerialNews/NewsBlock.css';
@import './SerialSidebar/serialSidebar.css';
@import './SerialNews/CurrentNews/currentNews.css';
@import './SerialDescription/serialDescription.css';
@import './Title/title.css';

.greetings-page-main-container {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  padding: 0 100px;
  margin-top: 50px;
}

.greetings-page-left-content {
  padding: 0 150px;
  grid-column: 1/2;
}

.greetings-page-right-content {
  grid-column: 2/3;
  padding: 0 50px;
}

.greetings-page-main-container p {
  text-align: justify;
}

.greetings-page-main-container h4 {
  margin-bottom: 50px;
  color: #cdcdcd;
}

.greetings-page-main-container h2 {
  margin-top: 30px;
  color: #fff;
}

.content-width {
  min-width: 600px;
}
