@import './WatchBlock/watchBlock.css';
@import './Anatomy/anatomy.css';
@import './SerialNews/NewsBlock.css';

.greetings-page-main-container {
  width: 100%;
  display: flex;
}

.greetings-page-left-content {
  width: 75%;
  padding: 0 150px;
}

.greetings-page-right-content {
  width: 25%;
}

.greetings-page-main-container p {
  text-align: justify;
}

.greetings-page-main-container h4 {
  margin-bottom: 50px;
}

.greetings-page-main-container h2 {
  margin-top: 30px;
}
