.container {
  width: 100%;
  height: 600px;
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: grey;
}

.headling {
  width: 100%;
  position: relative;
  text-align: center;
  transition: top 0.2s ease;
}
.transition-background {
  transition: height 0.2s ease;
}
