.photo-section {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.actor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.actor-photo {
  padding: 10px 20px;
  width: 240px;
  height: 480px;
  text-align: center;
}

.actor-photo ul {
  list-style: none;
}
.img-actor {
  width: 200px;
  height: 300px;
  transition: transform 0.2s ease;
}
