.actors-layout-heigth {
  min-height: 200vh;
  width: 100%;
  overflow: auto;
}
.actors-layout-header {
  background: #fff;
  padding: 0;
  text-align: center;
}
.actors-layout-footer {
  text-align: center;
}
