@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 160px;
  overflow: hidden;
}

.ant-carousel {
  width: 750px;
  margin-top: 25px;
}

.ant-carousel img {
  height: 400px;
  width: 750px;
}
.carousel-box {
  text-align: right;
}
.carousel-box h2 {
  color: #fff;
}

.carousel-name {
  color: #fff;
  font-family: 'Shadows Into Light', cursive;
  font-size: 2.5rem;
}
