.current-news-content img {
  width: 400px;
  height: 200px;
  float: right;
  margin-left: 20px;
}
.current-news-header {
  margin: 30px 0 30px 0;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  padding: 20px 0;
}
.current-news-header h1 {
  color: #fff;
}
.current-news-header p {
  font-style: italic;
}
.current-news-content,
.current-news-header {
  min-width: 800px;
}
.current-news-content {
  padding: 0 50px;
}
.current-news-container {
  padding: 50px 250px;
  color: #cdcdcd;
}

.current-news-content p {
  text-align: justify;
}
